.gameWrapper {
  display: flex;
  align-items: center;
  background-color: #1b232b;
  height: 750px;
}
.scoreWrapper {
  margin-left: 10px;
  color: #dde5f4;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
